*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --title-orange:#F3760E;
    --title-black:#222222;
    --line-color:#D6C2BC;
    --line-orange:#FD541E;
    --bg-brown:#D9814F;
    --white:#FFFFFF;
    --Playfair--Display:'Playfair Display', serif;
    --Barlow--semi:'Barlow', sans-serif;
    --icon-fb:#3B5999;
    --icon-twitter:#55ACEE;
}
.icon-fb{
    color: var(--icon-fb);
}
.icon-twitter{
    color: var(--icon-twitter);
}
li{
    list-style: none !important;
    text-decoration: none !important;
}
a{
    list-style: none !important;
    text-decoration: none !important;
}
.aspect-16-9{
    position: relative;
    display: block;
}
.aspect-16-9::before{
    content: '';
    display: block;
    width: 100%;
    padding-bottom: 56.25%;
}
.aspect-1-1{
    position: relative;
    display: block;
}
.aspect-1-1::before{
    content: '';
    display: block;
    width: 100%;
    padding-bottom: 100%;
}
.aspect-content{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.two-line{
    max-height: 2.6rem;
    -webkit-box-orient: vertical;
    overflow: hidden;
    white-space: normal;
    -webkit-line-clamp: 2;
    line-height: 1.3rem;
}
.boxshadow:hover{
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.text-orange-hover:hover{
    color: var(--title-orange) !important;
}
.text-red-hover:hover{
    color:#AC4425 !important;
}
/* LINE ORANGE */
.left-line-orange{
    border-left: 1px solid var(--line-orange);
}
.left-line-orange-style2{
    border-left: 3px solid var(--line-orange);
}
.top-line-orange-style2{
    border-top: 3px solid var(--line-orange);
}
.bottom-line-orange-style2{
    border-bottom: 3px solid var(--line-orange);
}
.bottom-line-orange-style3{
    border-bottom: 2px solid var(--line-orange);
}
.right-line-orange{
    border-right: 1px solid var(--line-orange);
}
.top-line-orange{
    border-top: 1px solid var(--line-orange);
}
.bottom-line-orange{
    border-bottom: 1px solid var(--line-orange);
}
.line-orange{
    border: 1px solid var(--line-orange);
}
.x-line-orange{
    border-right: 1px solid var(--line-orange);
    border-left: 1px solid var(--line-orange);
}
.y-line-orange{
    border-top: 1px solid var(--line-orange);
    border-bottom: 1px solid var(--line-orange);
}
/* LINE NORMAL */
.left-line-nomal{
    border-left: 1px solid var(--line-color);
}
.right-line-nomal{
    border-right: 1px solid var(--line-color);
}
.line-nomal{
    border: 1px solid var(--line-color);
}
.bottom-line-nomal{
    border-bottom: 1px solid var(--line-color);
}
.top-line-nomal{
    border-top: 1px solid var(--line-color);
}
.x-line-nomal{
    border-right: 1px solid var(--line-color);
    border-left: 1px solid var(--line-color);
}
.y-line-nomal{
    border-top: 1px solid var(--line-color);
    border-bottom: 1px solid var(--line-color);
}
.red-text{
    color: #BF1E2E !important;
}
.orange-text{
    color:#F46F02;
}
/* Header */
.container-header{
    height: 72px;
}
.container-header>.col-1>.logo>a>img{
    height: 100%;
    width: 100%;
}
.container-header>.col-1>.logo{
    width: 76px;
    height: 72px;
}
.container-header>.col-6>ul>li>.active{
    background-image: url(../img/brush\ 4.png);
    color: #ffff;
}
.container-header>.col-6>ul>li>a{
    font-size: 18px;
    font-family: var(---Barlow--semi);
    font-weight: 700;
    color: var(--title-black);
    height: 42px;
}
.container-header>.col-6>ul>li>a{
    align-items: center;
    display: flex;
    vertical-align: baseline;
}
.container-header>.col-6>ul>li{
    align-items: center;
    display: flex;
}
.container-header>.col-5>.icon-user{
    align-items: center;
    display: flex;
}
.container-header>.col-5>.text-capitalize{
    font-size: 18px;
    font-family: var(---Barlow--semi);
    font-weight: 700;
    color: var(--title-black);
    display: flex;
    align-items: center;
}
.container-header>.col-5>.text-capitalize>a{
    font-size: 18px;
    font-family: var(---Barlow--semi);
    font-weight: 700;
    color: var(--title-black);
    display: flex;
    align-items: center;
}
.container-header>.col-5>.search>input{
    background-color: #D9D9D9;
    border: none;
}   
.container-header>.col-5>.search>.btn-search{
    width: 51px;
    background-color: #5B5B5B;
}
.container-header>.col-5>.search>.btn-search>i{
    font-size: 24px;
    color: #ffff;
}
/* END HEADER */
/* Slider home */
.home-page .full-blee{
    background-color: var(--bg-brown);
    padding:3em 0;
    box-shadow: 0 0 0 100vh var(--bg-brown);
    clip-path: inset(0 -100vmax);
}
.home-page>.slider-block>.slider-heading {
    background-image: url(../img/brush\ 2.png);
    background-repeat: no-repeat;
    background-size: contain;
    padding: .5em 2em 1em 2em;
    z-index: 2;
    top: -25px;
}
.home-page>.slider-block>.slider-heading h2{
    font-size: 24px;
    color: var(--white);
    line-height: 29px;
    font-family: var(--Barlow--semi);
}
.home-page>.slider-block .card{
    width: 320px;
    background-color: var(--bg-brown);
    border: none;
}
.home-page>.slider-block .card>.card-category{
    display: inline;
    background-image: url(../img/brush\ 4.png);
    background-repeat: no-repeat;
    background-size: contain;
    padding: .2em;
}
.home-page>.slider-block .card>.card-category>p{
    font-size: 14px;
    font-family: var(--Playfair--Display);
    color: var(--white);
    padding:0 0 0 2rem ;
}
.home-page>.slider-block .card>.card-heading{
    height: 60px;
}
.home-page>.slider-block .card>.card-heading>h2>a{
    color: #ffff;
}
.home-page>.slider-block .card>.card-heading h2{
    font-size: 17px;
    color: var(--white);
    font-family: var(--Playfair--Display);
    max-height: 2.8rem;
    overflow: hidden;
    white-space: normal;
    -webkit-line-clamp: 2;
    line-height: 1.4rem;
}
.swiper{
    width: 1300px;
}
.swiper-button-prev:after, .swiper-button-next:after{
    color: #C4C4C4;
}
.swiper-button-prev:after{
    position: absolute;
    left: -300%;
}
.swiper-button-next:after{
    position: absolute;
    right: -300%;
}
.home-page>.slider-block .card>.post-time p{
    font-family: var(--Barlow--semi);
    font-size: 12px;
    color: var(--white);
} 
/* end slider home */
/* main-section-video */
.main-section-video>.col-5{
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.main-section-video>.col-5>.box-video>.title-video>h3>a{
    color: var(--title-black);
    font-weight: 700;
    font-family: var(--Playfair--Display);
    font-size: 24px;
}
.main-section-video>.col-5>.box-video>.post-date>p{
    font-weight: 300;
    font-family: var(--Barlow--semi);
    font-size: 14px;
    color: #000000;
}
.main-section-video>.col-5>.box-video>.content-video>p{
    font-weight: 500;
    font-family: var(--Barlow--semi);
    font-size: 14px;
    color: #BABABA;
}
.main-section-video>.col-5>.box-video>.auther{
    font-weight: 500;
    font-family: var(--Barlow--semi);
    font-size: 14px;
    color: #BABABA;
}
.main-section-video>.col-5>.box-video>.icon-social-networks>a>i{
    border-radius: 100%;
    border: 1px solid #CECECE;
    width: 30px;
    height: 30px;
    text-align: center;
    align-items: center;
}
.main-section-video>.col-5>.box-video>.tag-video>p{
    font-size: 14px;
    font-family: var(--Barlow--semi);
    font-weight: 500;
    color: #BABABA;
    border: 1px solid #BABABA;
    width: 90px;
    height: 20px;
    justify-content: center;
    align-items: center;
    display: flex;
    border-radius: 40px;
}
/*end main-section-video */
/* footer */
/* top-footer */
footer>.backgroud-top{
    background-color:#FD531E;
}
footer>.backgroud-top>.btn-scroll-top{
    position: absolute;
    top: -180%;
    right: 1%;
}
footer>.backgroud-top>.btn-scroll-top>i{
    color: #ffff;
    border-radius: 100%;
    width: 50px;
    height: 50px;
    text-align: center;
    background-color: #FF7B01;
    font-size: 20px;
}
footer>.backgroud-top>.container>.top-footer>.navbar-nav-footer{
    height: 40px;
}
footer>.backgroud-top>.container>.top-footer>.navbar-nav-footer>li>a{
    font-size: 16px;
    font-weight: 700;
    font-family: var(---Barlow--semi);
    color: #ffff;
}
/* bottom-footer */
footer>.backgroud-bottom{
    background-color:#481814;
}
footer>.backgroud-bottom>.bottom-footer>.information>.col-4>.objectives>h4{
    font-weight: 700;
    font-family: var(---Barlow--semi);
    color: #ffff;
    font-size: 16px;
}
footer>.backgroud-bottom>.bottom-footer>.information>.col-4>.objectives>p{
    font-family: var(--Playfair--Display);
    color: #ffff;
    font-size: 14px;
}
footer>.backgroud-bottom>.bottom-footer>.information>.col-4>.icon-social-networks>i{
    border-radius: 100%;
    border: 1px solid #ffff;
    width: 30px;
    height: 30px;
    color: #ffff;
    text-align: center;
}
footer>.backgroud-bottom>.bottom-footer>.information>.col-4>.content>p{
    font-family: var(--Playfair--Display);
    color: #ffff;
    font-size: 14px;
}
footer>.backgroud-bottom>.bottom-footer>.information>.col-4>.content>i{
    color: #ffff;
    font-size: 14px;
}
footer>.backgroud-bottom>.bottom-footer>.information>.col-4>.content>.box-content>.text-capitalize{
    font-weight: 700;
    font-family: var(---Barlow--semi);
    color: #ffff;
    font-size: 16px;
}
footer>.backgroud-bottom>.bottom-footer>.information>.col-4>.content>.box-content>p{
    font-family: var(--Playfair--Display);
    color: #ffff;
    font-size: 14px;
}
footer>.backgroud-bottom>.bottom-footer>.information>.col-4>.objectives{
    height: 50px;
}
/* introduce */
footer>.backgroud-bottom>.bottom-footer>.introduce>.justify-content-center>p{
    font-family: var(---Barlow--semi);
    font-weight: 700;
    font-size: 16px;
    color: #ffff;
}
footer>.backgroud-bottom>.bottom-footer>.introduce>.container>p{
    font-family: var(--Playfair--Display);
    font-size: 14px;
    font-weight: 500;
    color: #ffff;
}
footer>.backgroud-bottom>.bottom-footer>.introduce>.logo{
    width: 100%;
}
footer>.backgroud-bottom>.bottom-footer>.introduce>.logo>.d-flex{
    width: 76px;
    height: 72px;
}
footer>.backgroud-bottom>.bottom-footer>.introduce>.logo>.d-flex>a>img{
    width: 100%;
    height: 100%;
}
/*end footer */