@{
    ViewData["Title"] = "HomeLv2";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- Slider home -->
<div class="container pb-3 my-3">
    <div class="home-page">
        <div class="slider-block  position-relative d-flex align-items-center flex-column">
            <div class="slider-heading position-absolute">
                <h2>Xem nhiều nhất</h2>
            </div>
            <section class="full-blee position-relative">
                <div class="swiper mySwiper">
                    <div class="swiper-wrapper content">
                        <div class="swiper-slide card">
                            <div class="card-img aspect-16-9 h-100">
                                <a href="#">
                                    <img class="aspect-content boxshadow" src="../img/image 5.png" alt="#">
                                </a>
                            </div>
                            <div class="card-category my-2 ">
                                <p class="text-capitalize mb-0">Media</p>
                            </div>
                            <div class="card-heading">
                                <h2 class="text-capitalize">
                                    <a href="#">ca khuc mo man sea game 20</a>
                                </h2>
                            </div>
                            <div class="post-time">
                                <p class="mb-0">07/09/2022</p>
                            </div>
                        </div>
                        <div class="swiper-slide card">
                            <div class="card-img aspect-16-9 h-100">
                                <a href="#">
                                    <img class="aspect-content boxshadow" src="../img/image 5.png" alt="#">
                                </a>
                            </div>
                            <div class="card-category my-2 ">
                                <p class="text-capitalize mb-0">Media</p>
                            </div>
                            <div class="card-heading">
                                <h2 class="text-capitalize">
                                    <a href="#">Hành trình 10 năm nôí biển ca khuc mo man sea game 20</a>
                                </h2>
                            </div>
                            <div class="post-time">
                                <p class="mb-0">07/09/2022</p>
                            </div>
                        </div>
                        <div class="swiper-slide card">
                            <div class="card-img aspect-16-9 h-100">
                                <a href="#">
                                    <img class="aspect-content boxshadow" src="../img/image 5.png" alt="#">
                                </a>
                            </div>
                            <div class="card-category my-2 ">
                                <p class="text-capitalize mb-0">Media</p>
                            </div>
                            <div class="card-heading">
                                <h2 class="text-capitalize">
                                    <a href="#">Hành trình 10 năm nôí biển ca khuc mo man sea game 20</a>
                                </h2>
                            </div>
                            <div class="post-time">
                                <p class="mb-0">07/09/2022</p>
                            </div>
                        </div>
                        <div class="swiper-slide card">
                            <div class="card-img aspect-16-9 h-100">
                                <a href="#">
                                    <img class="aspect-content boxshadow" src="../img/image 5.png" alt="#">
                                </a>
                            </div>
                            <div class="card-category my-2 ">
                                <p class="text-capitalize mb-0">Media</p>
                            </div>
                            <div class="card-heading">
                                <h2 class="text-capitalize">
                                    <a href="#">Hành trình 10 năm nôí biển ca khuc mo man sea game 20</a>
                                </h2>
                            </div>
                            <div class="post-time">
                                <p class="mb-0">07/09/2022</p>
                            </div>
                        </div>
                        <div class="swiper-slide card">
                            <div class="card-img aspect-16-9 h-100">
                                <a href="#">
                                    <img class="aspect-content boxshadow" src="../img/image 5.png" alt="#">
                                </a>
                            </div>
                            <div class="card-category my-2 ">
                                <p class="text-capitalize mb-0">Media</p>
                            </div>
                            <div class="card-heading">
                                <h2 class="text-capitalize">
                                    <a href="#"> Hành trình 10 năm nôí biển ca khuc mo man sea game 20</a>
                                </h2>
                            </div>
                            <div class="post-time">
                                <p class="mb-0">07/09/2022</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
            </section>

        </div>
    </div>
</div>
<!-- end slider home -->
<!-- main-section-funclip -->
<div class="main-section-funclip container px-0 d-flex py-3">
    <div class="col-7 pe-4">
        <video width="100%" height="393px" controls>
            <source src="movie.mp4" type="video/mp4">
            <source src="movie.ogg" type="video/ogg">
        </video>
    </div>
    <div class="col-5 px-4 py-3">
        <div class="box-funclip">
            <div class="title-funclip mb-3">
                <h3>
                    <a href="#">
                        Cách mạng tháng Tám và Quốc khánh 2/9 - Những mốc son lịch sử hào hùng
                    </a>
                </h3>
            </div>
            <div class="post-date my-3">
                <p>07/09/2022</p>
            </div>
            <div class="content-funclip my-3">
                <p>Ngày 2 tháng 9 năm1945, tại Quảng trường Ba Đình lịch sử, Chủ tịch Hồ Chí Minh đọc bản Tuyên ngôn Độc lập trước quốc dân và thế giới khai sinh ra Nước Việt Nam Dân chủ Cộng hòa (nay là Nước Cộng hòa xã hội chủ nghĩa Việt Nam).</p>
            </div>
            <div class="auther my-3">
                <p>Tác giả: Bùi Hoàng Long</p>
            </div>
            <div class="icon-social-networks d-flex align-items-center my-3">
                <a href="#">
                    <i class="fa-brands fa-facebook-f mx-1 py-2 icon-fb"></i>
                </a>
                <a href="#">
                    <i class="fa-brands fa-twitter mx-1 py-2 icon-twitter"></i>
                </a>
            </div>
            <div class="tag-funclip mt-3">
                <p class="px-3 py-3">Lịch sử</p>
            </div>
        </div>
    </div>
</div>
<!--end main-section-funclip -->
<!-- banner style 2 -->
<div class="banner-style2 container py-3">
    <div class="d-flex justify-content-center">
        <img src="../img/image 16 (2).png" alt="">
    </div>
</div>
<!-- end banner-style 2 -->
<!-- main-section-funclip -->
<div class="main-section-funclip container px-0 d-flex py-3">
    <div class="col-7 pe-4">
        <video width="100%" height="393px" controls>
            <source src="movie.mp4" type="video/mp4">
            <source src="movie.ogg" type="video/ogg">
        </video>
    </div>
    <div class="col-5 px-4 py-3">
        <div class="box-funclip">
            <div class="title-funclip mb-3">
                <h3>
                    <a href="#">
                        Cách mạng tháng Tám và Quốc khánh 2/9 - Những mốc son lịch sử hào hùng
                    </a>
                </h3>
            </div>
            <div class="post-date my-3">
                <p>07/09/2022</p>
            </div>
            <div class="content-funclip my-3">
                <p>Ngày 2 tháng 9 năm1945, tại Quảng trường Ba Đình lịch sử, Chủ tịch Hồ Chí Minh đọc bản Tuyên ngôn Độc lập trước quốc dân và thế giới khai sinh ra Nước Việt Nam Dân chủ Cộng hòa (nay là Nước Cộng hòa xã hội chủ nghĩa Việt Nam).</p>
            </div>
            <div class="auther my-3">
                <p>Tác giả: Bùi Hoàng Long</p>
            </div>
            <div class="icon-social-networks d-flex align-items-center my-3">
                <a href="#">
                    <i class="fa-brands fa-facebook-f mx-1 py-2 icon-fb"></i>
                </a>
                <a href="#">
                    <i class="fa-brands fa-twitter mx-1 py-2 icon-twitter"></i>
                </a>
            </div>
            <div class="tag-funclip mt-3">
                <p class="px-3 py-3">Lịch sử</p>
            </div>
        </div>
    </div>
</div>
<!--end main-section-funclip -->
<!-- main-section-funclip -->
<div class="main-section-funclip container px-0 d-flex py-3">
    <div class="col-7 pe-4">
        <video width="100%" height="393px" controls>
            <source src="movie.mp4" type="video/mp4">
            <source src="movie.ogg" type="video/ogg">
        </video>
    </div>
    <div class="col-5 px-4 py-3">
        <div class="box-funclip">
            <div class="title-funclip mb-3">
                <h3>
                    <a href="#">
                        Cách mạng tháng Tám và Quốc khánh 2/9 - Những mốc son lịch sử hào hùng
                    </a>
                </h3>
            </div>
            <div class="post-date my-3">
                <p>07/09/2022</p>
            </div>
            <div class="content-funclip my-3">
                <p>Ngày 2 tháng 9 năm1945, tại Quảng trường Ba Đình lịch sử, Chủ tịch Hồ Chí Minh đọc bản Tuyên ngôn Độc lập trước quốc dân và thế giới khai sinh ra Nước Việt Nam Dân chủ Cộng hòa (nay là Nước Cộng hòa xã hội chủ nghĩa Việt Nam).</p>
            </div>
            <div class="auther my-3">
                <p>Tác giả: Bùi Hoàng Long</p>
            </div>
            <div class="icon-social-networks d-flex align-items-center my-3">
                <a href="#">
                    <i class="fa-brands fa-facebook-f mx-1 py-2 icon-fb"></i>
                </a>
                <a href="#">
                    <i class="fa-brands fa-twitter mx-1 py-2 icon-twitter"></i>
                </a>
            </div>
            <div class="tag-funclip mt-3">
                <p class="px-3 py-3">Lịch sử</p>
            </div>
        </div>
    </div>
</div>
<!--end main-section-funclip -->
<!-- main-section-funclip -->
<div class="main-section-funclip container px-0 d-flex py-3">
    <div class="col-7 pe-4">
        <video width="100%" height="393px" controls>
            <source src="movie.mp4" type="video/mp4">
            <source src="movie.ogg" type="video/ogg">
        </video>
    </div>
    <div class="col-5 px-4 py-3">
        <div class="box-funclip">
            <div class="title-funclip mb-3">
                <h3>
                    <a href="#">
                        Cách mạng tháng Tám và Quốc khánh 2/9 - Những mốc son lịch sử hào hùng
                    </a>
                </h3>
            </div>
            <div class="post-date my-3">
                <p>07/09/2022</p>
            </div>
            <div class="content-funclip my-3">
                <p>Ngày 2 tháng 9 năm1945, tại Quảng trường Ba Đình lịch sử, Chủ tịch Hồ Chí Minh đọc bản Tuyên ngôn Độc lập trước quốc dân và thế giới khai sinh ra Nước Việt Nam Dân chủ Cộng hòa (nay là Nước Cộng hòa xã hội chủ nghĩa Việt Nam).</p>
            </div>
            <div class="auther my-3">
                <p>Tác giả: Bùi Hoàng Long</p>
            </div>
            <div class="icon-social-networks d-flex align-items-center my-3">
                <a href="#">
                    <i class="fa-brands fa-facebook-f mx-1 py-2 icon-fb"></i>
                </a>
                <a href="#">
                    <i class="fa-brands fa-twitter mx-1 py-2 icon-twitter"></i>
                </a>
            </div>
            <div class="tag-funclip mt-3">
                <p class="px-3 py-3">Lịch sử</p>
            </div>
        </div>
    </div>
</div>
<!--end main-section-funclip -->
<!-- banner style 2 -->
<div class="banner-style2 container py-3">
    <div class="d-flex justify-content-center">
        <img src="../img/image 16 (2).png" alt="">
    </div>
</div>
<!-- end banner-style 2 -->
<!-- main-section-funclip -->
<div class="main-section-funclip container px-0 d-flex py-3">
    <div class="col-7 pe-4">
        <video width="100%" height="393px" controls>
            <source src="movie.mp4" type="video/mp4">
            <source src="movie.ogg" type="video/ogg">
        </video>
    </div>
    <div class="col-5 px-4 py-3">
        <div class="box-funclip">
            <div class="title-funclip mb-3">
                <h3>
                    <a href="#">
                        Cách mạng tháng Tám và Quốc khánh 2/9 - Những mốc son lịch sử hào hùng
                    </a>
                </h3>
            </div>
            <div class="post-date my-3">
                <p>07/09/2022</p>
            </div>
            <div class="content-funclip my-3">
                <p>Ngày 2 tháng 9 năm1945, tại Quảng trường Ba Đình lịch sử, Chủ tịch Hồ Chí Minh đọc bản Tuyên ngôn Độc lập trước quốc dân và thế giới khai sinh ra Nước Việt Nam Dân chủ Cộng hòa (nay là Nước Cộng hòa xã hội chủ nghĩa Việt Nam).</p>
            </div>
            <div class="auther my-3">
                <p>Tác giả: Bùi Hoàng Long</p>
            </div>
            <div class="icon-social-networks d-flex align-items-center my-3">
                <a href="#">
                    <i class="fa-brands fa-facebook-f mx-1 py-2 icon-fb"></i>
                </a>
                <a href="#">
                    <i class="fa-brands fa-twitter mx-1 py-2 icon-twitter"></i>
                </a>
            </div>
            <div class="tag-funclip mt-3">
                <p class="px-3 py-3">Lịch sử</p>
            </div>
        </div>
    </div>
</div>
<!--end main-section-funclip -->