@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- banner -->
<div class="banner-horizontal container my-4 px-0">
    <img src="../img/image 16.png" alt="">
</div>
<!-- end banner -->
<!-- hot news -->
<div class="container hot-news py-4 d-flex justify-content-center y-line-nomal px-0">
    <h2 class="d-flex my-0">
        <a href="#" class="red-text text-uppercase my-0">hot!:</a>
        <a href="#" class="text-capitalize my-0 ps-1">Hot girl cầu lông Thùy Linh giành huy chương lịch sử</a>
        <div class="position-relative ms-3">
            <img src="../img/brush 4 (1).png" alt="">
            <a href="#" class="text-capitalize">xem thêm</a>
        </div>
    </h2>
</div>
<!-- end hot news -->
<!-- main section -->
<div class="main-section container d-flex my-4 px-0">
    <div class="col-3 pe-3">
        <div class="left-main-section-top">
            <div class="aspect-16-9">
                <img class="aspect-content" src="../img/Rectangle 52.png" alt="">
            </div>
            <div>
                <h2 class="text-capitalize my-2 d-inline">
                    <a href="#">Media</a>
                </h2>
            </div>
            <div>
                <h3 class="text-capitalize py-2 my-0">
                    <a href="#">Video được xem nhiều nhất trên YouTube có bao nhiêu tỷ lượt xem?</a>
                </h3>
            </div>
            <div class="auther">
                <h3 class="my-0">
                    <a href="#">Tác giả: Nguyễn Văn A</a>
                </h3>
            </div>
        </div>
        <div class="left-main-section-bottom">
            <div class="aspect-16-9">
                <img class="aspect-content" src="../img/Rectangle 52.png" alt="">
            </div>
            <div>
                <h2 class="text-capitalize my-2 d-inline">
                    <a href="#">Media</a>
                </h2>
            </div>
            <div>
                <h3 class="text-capitalize py-2 my-0">
                    <a href="#">Video được xem nhiều nhất trên YouTube có bao nhiêu tỷ lượt xem?</a>
                </h3>
            </div>
            <div class="auther">
                <h3 class="my-0">
                    <a href="#">Tác giả: Nguyễn Văn A</a>
                </h3>
            </div>
        </div>
    </div>
    <div class="col-6 px-3 x-line-nomal">
        <div class="midder-main-section">
            <div class="aspect-1-1">
                <img class="aspect-content" src="../img/Rectangle 52 (1).png" alt="">
            </div>
            <div class="py-2 position-relative">
                <img src="../img/brush 2.png" alt="">
                <h2 class="text-capitalize">Media</h2>
            </div>
            <div class="title-midder">
                <h3 class="my-0 py-2">
                    <a href="#">Chân dung nhà vô địch Đường lên đỉnh Olympia lần thứ 22</a>
                </h3>
            </div>
            <div class="auther">
                <h3 class="my-0">
                    <a href="#">Tác giả: Nguyễn Văn A</a>
                </h3>
            </div>
        </div>
    </div>
    <div class="col-3 ps-3">
        <div class="right-main-section-top">
            <div class="aspect-16-9">
                <img class="aspect-content" src="../img/Rectangle 52.png" alt="">
            </div>
            <div>
                <h2 class="text-capitalize my-2 d-inline">
                    <a href="#">Media</a>
                </h2>
            </div>
            <div>
                <h3 class="text-capitalize py-2 my-0">
                    <a href="#">Video được xem nhiều nhất trên YouTube có bao nhiêu tỷ lượt xem?</a>
                </h3>
            </div>
            <div class="auther">
                <h3 class="my-0">
                    <a href="#">Tác giả: Nguyễn Văn A</a>
                </h3>
            </div>
        </div>
        <div class="right-main-section-bottom">
            <div class="aspect-16-9">
                <img class="aspect-content" src="../img/Rectangle 52.png" alt="">
            </div>
            <div>
                <h2 class="text-capitalize my-2 d-inline">
                    <a href="#">Media</a>
                </h2>
            </div>
            <div>
                <h3 class="text-capitalize py-2 my-0">
                    <a href="#">Video được xem nhiều nhất trên YouTube có bao nhiêu tỷ lượt xem?</a>
                </h3>
            </div>
            <div class="auther">
                <h3 class="my-0">
                    <a href="#">Tác giả: Nguyễn Văn A</a>
                </h3>
            </div>
        </div>
    </div>
</div>
<!-- end main section -->
