@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}
<!-- end -->
        <div class="container">
            <div class="detail-page">
                <div class="main-video row">
                        <div class="col-lg-8 col-12 main-col px-0">
                            <div class="video-content aspect-16-9">
                                <video class="aspect-content" controls>
                                    <source src="https://media.w3.org/2010/05/sintel/trailer.mp4" type="video/mp4"/>
                                </video>
                            </div>
                            <div class="video-info p-3">
                                <div class="video-heading">
                                    <h1>Biểu cảm siêu đáng yêu của con trai Messi thu hút 16 triệu lượt xem trên Twitter</h1>
                                </div>
                                <div class="category-box d-flex ">
                                    <div class="category me-5">
                                        <p>fun clip</p>
                                    </div>
                                    <div class="post-time">
                                        <p>09:25 07/09/2022</p>
                                    </div>
                                </div>
                                <div class="description">
                                    <p>Màn ăn mừng bàn thắng “hụt” của con trai cầu thủ Messi đã khiến nhiều người thích thú.</p>
                                </div>
                                <div class="author mt-2">
                                    <p>Tác giả: Bùi Hoàng Long</p>
                                </div>
                                <div class="media d-flex mb-3">
                                    <div class="media-circle">
                                        <a href="#">
                                            <img src="../img/facebook.svg" alt="#">
                                        </a>
                                    </div>
                                    <div class="media-circle ms-2">
                                        <a href="#">
                                            <img src="../img/twitter.svg" alt="#">
                                        </a>
                                    </div>
                                </div>
                                <div class="tag-box">
                                    <div class="tag">
                                        <a href="#">Động vật</a>
                                    </div>
                                    <div class="tag ms-2">
                                        <a href="#">Động vật</a>
                                    </div>
                                </div>
                                <div class="feature">
                                    <div class="feature-box">
                                        <a href="#">
                                            <img src="../img/back.svg" alt="#">
                                        </a>
                                    </div>
                                    <div class="feature-box ms-2">
                                        <a href="#">
                                            <img src="../img/flag.svg" alt="#">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-12 side-col p-3">
                            <div class="side-bar-heading">
                                <p class="text-capitalize">Video tiếp theo</p>
                            </div>
                            <div class="side-bar-content">
                                <div class="side-box mb-3 d-flex">
                                    <div class="img-box aspect-16-9">
                                        <a href="#">
                                            <img class="aspect-content" src="./Image/image 16.png" alt="#">
                                        </a>
                                        <div class="duration">
                                            <p class="mb-0">4:30</p>
                                        </div>
                                    </div>
                                    <div class="info-box ms-3">
                                        <div class="box-heading">
                                            <h2>
                                                <a href="#" class="text-capitalize">Vinh danh 'Trạng nguyên nhỏ tuổi' và trao thưởng cuộc thi Viết chữ đẹp trong nam 2022 va </a>
                                            </h2>
                                        </div>
                                        <div class="category-box d-flex justify-content-between">
                                            <div class="category">
                                                <p class="mb-0">
                                                    <a href="#" class="text-capitalize">media</a>
                                                </p>
                                            </div>
                                            <div class="post-time">
                                                <p class="mb-0">07/09/2022</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="side-box mb-3 d-flex">
                                    <div class="img-box aspect-16-9">
                                        <a href="#">
                                            <img class="aspect-content" src="./Image/image 16.png" alt="#">
                                        </a>
                                        <div class="duration">
                                            <p class="mb-0">4:30</p>
                                        </div>
                                    </div>
                                    <div class="info-box ms-3">
                                        <div class="box-heading">
                                            <h2>
                                                <a href="#" class="text-capitalize">Vinh danh 'Trạng nguyên nhỏ tuổi' và trao thưởng cuộc thi Viết chữ đẹp trong nam 2022 va </a>
                                            </h2>
                                        </div>
                                        <div class="category-box d-flex justify-content-between">
                                            <div class="category">
                                                <p class="mb-0">
                                                    <a href="#" class="text-capitalize">media</a>
                                                </p>
                                            </div>
                                            <div class="post-time">
                                                <p class="mb-0">07/09/2022</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="side-box mb-3 d-flex">
                                    <div class="img-box aspect-16-9">
                                        <a href="#">
                                            <img class="aspect-content" src="./Image/image 16.png" alt="#">
                                        </a>
                                        <div class="duration">
                                            <p class="mb-0">4:30</p>
                                        </div>
                                    </div>
                                    <div class="info-box ms-3">
                                        <div class="box-heading">
                                            <h2>
                                                <a href="#" class="text-capitalize">Vinh danh 'Trạng nguyên nhỏ tuổi' và trao thưởng cuộc thi Viết chữ đẹp trong nam 2022 va </a>
                                            </h2>
                                        </div>
                                        <div class="category-box d-flex justify-content-between">
                                            <div class="category">
                                                <p class="mb-0">
                                                    <a href="#" class="text-capitalize">media</a>
                                                </p>
                                            </div>
                                            <div class="post-time">
                                                <p class="mb-0">07/09/2022</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="side-box mb-3 d-flex">
                                    <div class="img-box aspect-16-9">
                                        <a href="#">
                                            <img class="aspect-content" src="./Image/image 16.png" alt="#">
                                        </a>
                                        <div class="duration">
                                            <p class="mb-0">4:30</p>
                                        </div>
                                    </div>
                                    <div class="info-box ms-3">
                                        <div class="box-heading">
                                            <h2>
                                                <a href="#" class="text-capitalize">Vinh danh 'Trạng nguyên nhỏ tuổi' và trao thưởng cuộc thi Viết chữ đẹp trong nam 2022 va </a>
                                            </h2>
                                        </div>
                                        <div class="category-box d-flex justify-content-between">
                                            <div class="category">
                                                <p class="mb-0">
                                                    <a href="#" class="text-capitalize">media</a>
                                                </p>
                                            </div>
                                            <div class="post-time">
                                                <p class="mb-0">07/09/2022</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="side-box mb-3 d-flex">
                                    <div class="img-box aspect-16-9">
                                        <a href="#">
                                            <img class="aspect-content" src="./Image/image 16.png" alt="#">
                                        </a>
                                        <div class="duration">
                                            <p class="mb-0">4:30</p>
                                        </div>
                                    </div>
                                    <div class="info-box ms-3">
                                        <div class="box-heading">
                                            <h2>
                                                <a href="#" class="text-capitalize">Vinh danh 'Trạng nguyên nhỏ tuổi' và trao thưởng cuộc thi Viết chữ đẹp trong nam 2022 va </a>
                                            </h2>
                                        </div>
                                        <div class="category-box d-flex justify-content-between">
                                            <div class="category">
                                                <p class="mb-0">
                                                    <a href="#" class="text-capitalize">media</a>
                                                </p>
                                            </div>
                                            <div class="post-time">
                                                <p class="mb-0">07/09/2022</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="side-box mb-3 d-flex">
                                    <div class="img-box aspect-16-9">
                                        <a href="#">
                                            <img class="aspect-content" src="./Image/image 16.png" alt="#">
                                        </a>
                                        <div class="duration">
                                            <p class="mb-0">4:30</p>
                                        </div>
                                    </div>
                                    <div class="info-box ms-3">
                                        <div class="box-heading">
                                            <h2>
                                                <a href="#" class="text-capitalize">Vinh danh 'Trạng nguyên nhỏ tuổi' và trao thưởng cuộc thi Viết chữ đẹp trong nam 2022 va </a>
                                            </h2>
                                        </div>
                                        <div class="category-box d-flex justify-content-between">
                                            <div class="category">
                                                <p class="mb-0">
                                                    <a href="#" class="text-capitalize">media</a>
                                                </p>
                                            </div>
                                            <div class="post-time">
                                                <p class="mb-0">07/09/2022</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                </div>
                <div class="banner">
                    <div class="banner-box">
                        <img src="./Image/image 16.png" alt="#">
                    </div>
                </div>
                <div class="slider-block d-flex align-items-center flex-column my-4">
                    <div class="slider-heading ">
                        <h2 class="text-capitalize">Xem nhiều nhất</h2>
                    </div>
                    <section class="full-blee">
                        <div id="slider" class="swiper mySwiper">
                            <div id="wrapper" class="swiper-wrapper content">
                                <div class="swiper-slide card">
                                    <div class="card-img aspect-16-9 h-100">
                                        <a href="#">
                                            <img class="aspect-content" src="./Image/Most view/image 6 (1).png" alt="#">
                                        </a>
                                        <div class="duration">
                                            <p class="mb-0">4:00</p>
                                        </div>
                                    </div>
                                    <div class="direction">
                                        <div class="card-heading">
                                            <h3>
                                                <a href="#" class="text-capitalize">ca khuc mo man sea game 20</a>
                                            </h3>
                                        </div>
                                        <div class="post-detail">
                                            <div class="card-category my-2">
                                                <p class="mb-0">
                                                    <a href="#" class="text-capitalize mb-0">Media</a>
                                                </p>
                                            </div>
                                            <div class="post-time">
                                                <p class="mb-0">07/09/2022</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide card">
                                    <div class="card-img aspect-16-9 h-100">
                                        <a href="#">
                                            <img class="aspect-content" src="./Image/Most view/image 6 (1).png" alt="#">
                                        </a>
                                        <div class="duration">
                                            <p class="mb-0">4:00</p>
                                        </div>
                                    </div>
                                    <div class="direction">
                                        <div class="card-heading">
                                            <h3 >
                                                <a href="#" class="text-capitalize">ca khuc mo man sea game 20</a>
                                            </h3>
                                        </div>
                                        <div class="post-detail">
                                            <div class="card-category my-2">
                                                <p class="mb-0">
                                                    <a href="#" class="text-capitalize mb-0">Media</a>
                                                </p>
                                            </div>
                                            <div class="post-time">
                                                <p class="mb-0">07/09/2022</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide card">
                                    <div class="card-img aspect-16-9 h-100">
                                        <a href="#">
                                            <img class="aspect-content" src="./Image/Most view/image 6 (1).png" alt="#">
                                        </a>
                                        <div class="duration">
                                            <p class="mb-0">4:00</p>
                                        </div>
                                    </div>
                                    <div class="direction">
                                        <div class="card-heading">
                                            <h3 >
                                                <a href="#" class="text-capitalize">ca khuc mo man sea game 20</a>
                                            </h3>
                                        </div>
                                        <div class="post-detail">
                                            <div class="card-category my-2">
                                                <p class="mb-0">
                                                    <a href="#" class="text-capitalize mb-0">Media</a>
                                                </p>
                                            </div>
                                            <div class="post-time">
                                                <p class="mb-0">07/09/2022</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide card">
                                    <div class="card-img aspect-16-9 h-100">
                                        <a href="#">
                                            <img class="aspect-content" src="./Image/Most view/image 6 (1).png" alt="#">
                                        </a>
                                        <div class="duration">
                                            <p class="mb-0">4:00</p>
                                        </div>
                                    </div>
                                    <div class="direction">
                                        <div class="card-heading">
                                            <h3 >
                                                <a href="#" class="text-capitalize">ca khuc mo man sea game 20</a>
                                            </h3>
                                        </div>
                                        <div class="post-detail">
                                            <div class="card-category my-2">
                                                <p class="mb-0">
                                                    <a href="#" class="text-capitalize mb-0">Media</a>
                                                </p>
                                            </div>
                                            <div class="post-time">
                                                <p class="mb-0">07/09/2022</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide card">
                                    <div class="card-img aspect-16-9 h-100">
                                        <a href="#">
                                            <img class="aspect-content" src="./Image/Most view/image 6 (1).png" alt="#">
                                        </a>
                                        <div class="duration">
                                            <p class="mb-0">4:00</p>
                                        </div>
                                    </div>
                                    <div class="direction">
                                        <div class="card-heading">
                                            <h3 >
                                                <a href="#" class="text-capitalize">ca khuc mo man sea game 20</a>
                                            </h3>
                                        </div>
                                        <div class="post-detail">
                                            <div class="card-category my-2">
                                                <p class="mb-0">
                                                    <a href="#" class="text-capitalize mb-0">Media</a>
                                                </p>
                                            </div>
                                            <div class="post-time">
                                                <p class="mb-0">07/09/2022</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-button-next"></div>
                            <div class="swiper-button-prev"></div>
                        </div>
                    </section>     
                </div>
                <div class="slider-block d-flex align-items-center flex-column my-4">
                    <div class="slider-heading ">
                        <h2 class="text-capitalize">Video đề xuất</h2>
                    </div>
                    <section class="full-blee">
                        <div class="swiper mySwiper">
                            <div class="swiper-wrapper content">
                                <div class="swiper-slide card">
                                    <div class="card-img aspect-16-9 h-100">
                                        <a href="#">
                                            <img class="aspect-content" src="./Image/Most view/image 6 (1).png" alt="#">
                                        </a>
                                        <div class="duration">
                                            <p class="mb-0">4:00</p>
                                        </div>
                                    </div>
                                    <div class="direction">
                                        <div class="card-heading">
                                            <h3 >
                                                <a href="#" class="text-capitalize">c ca khuc mo man sea game 20</a>
                                            </h3>
                                        </div>
                                        <div class="post-detail">
                                            <div class="card-category my-2">
                                                <p class="mb-0">
                                                    <a href="#" class="text-capitalize mb-0">Media</a>
                                                </p>
                                            </div>
                                            <div class="post-time">
                                                <p class="mb-0">07/09/2022</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide card">
                                    <div class="card-img aspect-16-9 h-100">
                                        <a href="#">
                                            <img class="aspect-content" src="./Image/Most view/image 6 (1).png" alt="#">
                                        </a>
                                        <div class="duration">
                                            <p class="mb-0">4:00</p>
                                        </div>
                                    </div>
                                    <div class="direction">
                                        <div class="card-heading">
                                            <h3 >
                                                <a href="#" class="text-capitalize">ca khuc mo man sea game 20</a>
                                            </h3>
                                        </div>
                                        <div class="post-detail">
                                            <div class="card-category my-2">
                                                <p class="mb-0">
                                                    <a href="#" class="text-capitalize mb-0">Media</a>
                                                </p>
                                            </div>
                                            <div class="post-time">
                                                <p class="mb-0">07/09/2022</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide card">
                                    <div class="card-img aspect-16-9 h-100">
                                        <a href="#">
                                            <img class="aspect-content" src="./Image/Most view/image 6 (1).png" alt="#">
                                        </a>
                                        <div class="duration">
                                            <p class="mb-0">4:00</p>
                                        </div>
                                    </div>
                                    <div class="direction">
                                        <div class="card-heading">
                                            <h3 >
                                                <a href="#" class="text-capitalize">ca khuc mo man sea game 20</a>
                                            </h3>
                                        </div>
                                        <div class="post-detail">
                                            <div class="card-category my-2">
                                                <p class="mb-0">
                                                    <a href="#" class="text-capitalize mb-0">Media</a>
                                                </p>
                                            </div>
                                            <div class="post-time">
                                                <p class="mb-0">07/09/2022</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide card">
                                    <div class="card-img aspect-16-9 h-100">
                                        <a href="#">
                                            <img class="aspect-content" src="./Image/Most view/image 6 (1).png" alt="#">
                                        </a>
                                        <div class="duration">
                                            <p class="mb-0">4:00</p>
                                        </div>
                                    </div>
                                    <div class="direction">
                                        <div class="card-heading">
                                            <h3 >
                                                <a href="#" class="text-capitalize">a ca khuc mo man sea game 20</a>
                                            </h3>
                                        </div>
                                        <div class="post-detail">
                                            <div class="card-category my-2">
                                                <p class="mb-0">
                                                    <a href="#" class="text-capitalize mb-0">Media</a>
                                                </p>
                                            </div>
                                            <div class="post-time">
                                                <p class="mb-0">07/09/2022</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide card">
                                    <div class="card-img aspect-16-9 h-100">
                                        <a href="#">
                                            <img class="aspect-content" src="./Image/Most view/image 6 (1).png" alt="#">
                                        </a>
                                        <div class="duration">
                                            <p class="mb-0">4:00</p>
                                        </div>
                                    </div>
                                    <div class="direction">
                                        <div class="card-heading">
                                            <h3 >
                                                <a href="#" class="text-capitalize">b ca khuc mo man sea game 20</a>
                                            </h3>
                                        </div>
                                        <div class="post-detail">
                                            <div class="card-category my-2">
                                                <p class="mb-0">
                                                    <a href="#" class="text-capitalize mb-0">Media</a>
                                                </p>
                                            </div>
                                            <div class="post-time">
                                                <p class="mb-0">07/09/2022</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-button-next"></div>
                            <div class="swiper-button-prev"></div>
                        </div>
                    </section>     
                </div>
            </div>
        </div>
        <!-- footer -->
        <footer>
            <div class="backgroud-top position-relative">
                <div class="btn-scroll-top">
                    <i class="fa-solid fa-arrow-up py-3"></i>
                </div>
                <div class="container">
                    <div class="top-footer container">
                        <ul class="navbar-nav-footer d-flex my-0 justify-content-center">
                            <li class="nav-item">
                            <a class="nav-link active text-uppercase"href="#"><i class="fa-solid fa-house"></i></a>
                            </li>
                            <li class="nav-item">
                            <a class="nav-link text-uppercase" href="#">chuyển động</a>
                            </li>
                            <li class="nav-item">
                            <a class="nav-link text-uppercase" href="#">học đường</a>
                            </li>
                            <li class="nav-item">
                            <a class="nav-link text-uppercase" href="#">giải trí</a>
                            </li>
                            <li class="nav-item">
                            <a class="nav-link text-uppercase" href="#">cẩm nang</a>
                            </li>
                            <li class="nav-item">
                            <a class="nav-link text-uppercase" href="#">video</a>
                            </li>
                            <li class="nav-item">
                            <a class="nav-link text-uppercase" href="#">ăn-chơi</a>
                            </li>
                            <li class="nav-item">
                            <a class="nav-link text-uppercase" href="#">góc ô mai</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-uppercase" href="#">hi-tech</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-uppercase" href="#">thể thao</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-uppercase" href="#"><i class="fa-solid fa-magnifying-glass"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="backgroud-bottom">
                <div class="bottom-footer container">
                    <div class="information py-3 d-flex bottom-line-orange">
                        <div class="col-4 px-2">
                            <div class="objectives">
                                <h4 class="my-0">Cơ quan chủ quản</h4>
                                <p>Trung ương Đoàn Thanh niên Cộng sản Hồ Chí Minh </p>
                            </div>
                            <div class="content">
                                <p>
                                    Giấy phép số: 29/GP-BTTTT cấp ngày 20/01/2020</br>
                                    Tổng Biên tập: Nguyễn Phan Khuê
                                </p>
                            </div>
                            <div class="icon-social-networks d-flex">
                                <i class="fa-brands fa-facebook-f mx-1 py-2"></i>
                                <i class="fa-brands fa-twitter mx-1 py-2"></i>
                                <i class="fa-brands fa-skype mx-1 py-2"></i>
                            </div>
                        </div>
                        <div class="col-4 px-2">
                            <div class="objectives">
                                <h4 class="my-0">Tòa soạn</h4>
                                <p>Báo Thiếu niên Tiền phong và Nhi đồng </p>
                            </div>
                            <div class="content d-flex">
                                <i class="me-2 fa-solid fa-location-dot pt-2"></i>
                                <p>Số 12 Hồ Xuân Hương, phường Nguyễn Du, quận Hai Bà Trưng, Hà Nội</p>
                            </div>
                            <div class="content d-flex">
                                <i class="pt-2 me-2 fa-solid fa-mobile"></i>
                                <p>
                                    Điện thoại: 024. 38226036</br>
                                    Fax: 024.39431358</br>
                                    HOTLINE: 0905 618 988 
                                </p>
                            </div>
                            <div class="content d-flex">
                                    <i class="pt-1 me-2 fa-solid fa-envelope"></i>
                                <p>banbientap@thieunien.vn</p>
                            </div>
                        </div>
                        <div class="col-4 px-2">
                            <div class="objectives">
                                <h4>Liên hệ quảng cáo và truyền thông</h4>
                            </div>
                            <div class="content d-flex">
                                <i class="pt-2 me-2 fa-solid fa-location-dot"></i>
                                <div class="box-content">
                                    <p class="text-capitalize my-0">Chu Hải</p>
                                    <p class="my-0"> 
                                        Số 5, Hoà Mã, phường Phạm Đình Hổ, quận Hai Bà Trưng, TP. Hà Nội<br>
                                        Mobile: 0888.725.777
                                    </p>
                                    <p class="text-capitalize my-0">Nguyễn Thuận</p>
                                    <p>
                                        Số 12, Hồ Xuân Hương, phường Nguyễn Du, quận Hai Bà Trưng, TP. Hà Nội</br>
                                        Mobile: 0904.88.40.90
                                    </p>
                                </div>
                            </div>
                            <div class="content d-flex">
                                <i class="pt-1 me-2 fa-solid fa-envelope"></i>
                                <p>
                                    banbientap@thieunien.vn 
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="introduce py-3">
                        <div class="d-flex justify-content-center">
                            <p class="my-0">Báo điện tử Thieunien.vn thuộc tòa soạn báo Thiếu niên Tiền phong và Nhi đồng </p>
                        </div>
                        <div class="logo py-3 d-flex justify-content-center">
                            <div class="d-flex">
                                <a href="#">
                                    <img src="../img/TNTPP&NĐ.png" alt="">
                                </a>
                            </div>
                        </div>
                        <div class="container d-flex justify-content-center">
                            <p>® Bản quyền thuộc về báo Thiếu niên Tiền phong và Nhi đồng. Ghi rõ nguồn Thiếu niên Tiền phong và Nhi đồng online khi bạn phát hành lại thông tin từ website này. </p>
                        </div>
                    </div>
                </div>
            </div>
    
        </footer>
        <!--end footer -->
